# Ignore data files and folders
*.npy
data/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore PyTorch model weights
*.pth
*.pt

# Allow .pth files specifically in the day8 folder
!day8/**/*.pth

__pycache__/